#Headline{
    color: white;
    text-decoration: underline;
}
/deep/.k-grid td {
    padding-top: 5px;
    padding-bottom: 5px;
}
p{
    color: white
}
.mat-drawer{
    background-color: #193061;
    color: rgba(0, 0, 0, 0.87);
    width: 200px;
    background: #49474a;
    background: #290940;
}
.mat-drawer-container {
    background: #16222e;
}
.mat-button {
    color: white;
}

